*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
.profile{
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 4px solid red;
}
.slack-name, .profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.track{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:500px){
    body{
        height: 90vh;
    }
    .container{
        padding: 50px;
        border-radius: 7px;
    }
    .slack-name{
        font-size: 10px;
    }
    p{
        font-size: 13px;
    }
}